body {
  margin: 0;
  position: relative;
  padding-bottom: 3rem;
  min-height: 100vh;
}
footer {
  background-color: Black;
  padding: 1em 0;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
